# dependencies
/node_modules

# build output
/build

# environment variables
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS and editor files
.DS_Store
.vscode/
.idea/
