# === Global Node Modules ===
node_modules/
**/node_modules/

# === Build Artifacts ===
dist/
build/
**/dist/
**/build/

# === Environment Variables ===
.env
.env.*
.env.local
**/.env
**/.env.*
**/.env.com*

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# === System Files ===
.DS_Store
Thumbs.db
